# School performance Data

INEP https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/indicadores-educacionais/taxas-de-rendimento-escolar, 

we have the following data for every year from 2007 to 2022
- Passing Rate
- Failing Rate
- Dropout Rate

When learning the data, remember to 
Use Rural Public and Urbana Publica rows for each municipality
Use Total column for Ensign Medio
Repeat #1 and #2 for all years for which data is available

In [1]:
import pandas as pd

In [3]:
pd.read_csv("../raw_data/school_performance/tx_rend_municipios_2008.csv")

,Ano,Região,UF,Código do Município,Nome do Município,Localização,Dependência Administrativa,Aprovação,Reprovação,Abandono
0,2008,Norte,RO,1100015,ALTA FLORESTA D'OESTE,Rural,Publico,--,--,--
1,2008,Norte,RO,1100023,ARIQUEMES,Rural,Publico,--,--,--
2,2008,Norte,RO,1100049,CACOAL,Rural,Publico,--,--,--
3,2008,Norte,RO,1100056,CEREJEIRAS,Rural,Publico,--,--,--
4,2008,Norte,RO,1100064,COLORADO DO OESTE,Rural,Publico,77.7,22,0.3
...,...,...,...,...,...,...,...,...,...,...
10210,2008,Centro_Oeste,GO,5222005,VIANOPOLIS,Urbana,Publico,78.7,14.2,7.1
10211,2008,Centro_Oeste,GO,5222054,VICENTINOPOLIS,Urbana,Publico,87.3,4.5,8.2
10212,2008,Centro_Oeste,GO,5222203,VILA BOA,Urbana,Publico,84.7,3.3,12
10213,2008,Centro_Oeste,GO,5222302,VILA PROPICIO,Urbana,Publico,89.6,0.8,9.6
10214,2008,Centro_Oeste,DF,5300108,BRASILIA,Urbana,Publico,77.9,15.2,6.9

In [5]:
import pandas as pd

# List of file paths to your CSV files
file_paths = [
    "../raw_data/school_performance/tx_rend_municipios_2008.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2009.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2010.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2011.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2012.csv",
    "../raw_data/school_performance//tx_rend_municipios_2013.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2014.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2015.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2016.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2017.csv",
    "../raw_data/school_performance//tx_rend_municipios_2018.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2019.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2020.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2021.csv", 
    "../raw_data/school_performance//tx_rend_municipios_2022.csv",

]

# Read each CSV and store in a list of DataFrames
dfs = [pd.read_csv(file_path) for file_path in file_paths]

# Concatenate all DataFrames together
combined_df = pd.concat(dfs, ignore_index=True)

In [6]:
combined_df

,Ano,Região,UF,Código do Município,Nome do Município,Localização,Dependência Administrativa,Aprovação,Reprovação,Abandono
0,2008,Norte,RO,1100015,ALTA FLORESTA D'OESTE,Rural,Publico,--,--,--
1,2008,Norte,RO,1100023,ARIQUEMES,Rural,Publico,--,--,--
2,2008,Norte,RO,1100049,CACOAL,Rural,Publico,--,--,--
3,2008,Norte,RO,1100056,CEREJEIRAS,Rural,Publico,--,--,--
4,2008,Norte,RO,1100064,COLORADO DO OESTE,Rural,Publico,77.7,22,0.3
...,...,...,...,...,...,...,...,...,...,...
150498,2022,Centro-Oeste,GO,5222005,Vianópolis,Urbana,Pública,99.2,0.8,0.0
150499,2022,Centro-Oeste,GO,5222054,Vicentinópolis,Urbana,Pública,99.3,0.7,0.0
150500,2022,Centro-Oeste,GO,5222203,Vila Boa,Urbana,Pública,100.0,0.0,0.0
150501,2022,Centro-Oeste,GO,5222302,Vila Propício,Urbana,Pública,90.5,5.2,4.3
150502,2022,Centro-Oeste,DF,5300108,Brasília,Urbana,Pública,85.5,9.8,4.7

In [8]:
columns_to_drop = ['Região', 'UF', 'Nome do Município', 'Dependência Administrativa']
combined_df = combined_df.drop(columns=columns_to_drop)

In [9]:
combined_df

         Ano  Código do Município Localização Aprovação Reprovação Abandono
0       2008              1100015       Rural        --         --       --
1       2008              1100023       Rural        --         --       --
2       2008              1100049       Rural        --         --       --
3       2008              1100056       Rural        --         --       --
4       2008              1100064       Rural      77.7         22      0.3
...      ...                  ...         ...       ...        ...      ...
150498  2022              5222005      Urbana      99.2        0.8      0.0
150499  2022              5222054      Urbana      99.3        0.7      0.0
150500  2022              5222203      Urbana     100.0        0.0      0.0
150501  2022              5222302      Urbana      90.5        5.2      4.3
150502  2022              5300108      Urbana      85.5        9.8      4.7

[150503 rows x 6 columns]

In [10]:
combined_df = combined_df.rename(columns={
    'Código do Município': 'Código_IBGE'
})
combined_df

         Ano  Código_IBGE Localização Aprovação Reprovação Abandono
0       2008      1100015       Rural        --         --       --
1       2008      1100023       Rural        --         --       --
2       2008      1100049       Rural        --         --       --
3       2008      1100056       Rural        --         --       --
4       2008      1100064       Rural      77.7         22      0.3
...      ...          ...         ...       ...        ...      ...
150498  2022      5222005      Urbana      99.2        0.8      0.0
150499  2022      5222054      Urbana      99.3        0.7      0.0
150500  2022      5222203      Urbana     100.0        0.0      0.0
150501  2022      5222302      Urbana      90.5        5.2      4.3
150502  2022      5300108      Urbana      85.5        9.8      4.7

[150503 rows x 6 columns]

In [12]:
# Write the combined DataFrame to a new CSV file
file_path = "../transformed_data/school_performance_per_municipality.csv"
combined_df.to_csv(file_path, index=False)