# Data preparation for Machine Learning

THis notebook aims to combine all datasets into one, which will be input for ML/DL.

In [1]:
import pandas as pd

## Education dataset

In [2]:
education = pd.read_csv("../transformed_data/education/school_data_ML.csv")
education.head()

,Ano,Código_IBGE,Localização,Aprovação,Reprovação,Abandono,Matrículas,Docentes,Estabelecimentos,Turmas
0,2016,3550308,Urbana,79.0,15.1,5.9,428268,20582.0,690,12010
1,2015,3550308,Urbana,79.8,15.7,4.5,413303,21.0,694,11864
2,2014,3550308,Urbana,76.7,17.1,6.2,430352,21297.0,692,11702
3,2013,3550308,Urbana,74.6,18.7,6.7,416219,20153.0,681,11173
4,2012,3550308,Urbana,74.0,19.5,6.5,414338,19882.0,689,11130

In [3]:
education.shape

(102889, 10)

## Socio-economic dataset