# Internet Access

In [1]:
import pandas as pd

In [3]:
internet_access = pd.read_csv("../raw_data/internet_access.csv", sep=";")
internet_access

     Ano        Regiao  Acesso a internet %
0   2008       SUDESTE                   25
1   2008      NORDESTE                    7
2   2008           SUL                   20
3   2008         NORTE                    7
4   2008  CENTRO-OESTE                   21
..   ...           ...                  ...
70  2022       SUDESTE                   82
71  2022      NORDESTE                   78
72  2022           SUL                   81
73  2022         NORTE                   76
74  2022  CENTRO-OESTE                   83

[75 rows x 3 columns]

In [4]:
internet_access.Regiao.unique()

array(['SUDESTE', 'NORDESTE', 'SUL', 'NORTE', 'CENTRO-OESTE'],
      dtype=object)

In [5]:
internet_access.Regiao = internet_access.Regiao.str.replace('SUDESTE', 'Sudeste')
internet_access.Regiao = internet_access.Regiao.str.replace('NORDESTE', 'Nordeste')
internet_access.Regiao = internet_access.Regiao.str.replace('SUL', 'Sul')
internet_access.Regiao = internet_access.Regiao.str.replace('CENTRO-OESTE', 'Centro Oeste')
internet_access.Regiao = internet_access.Regiao.str.replace('NORTE', 'Norte')

In [6]:
sorted(internet_access.Regiao.unique())

['Centro Oeste', 'Nordeste', 'Norte', 'Sudeste', 'Sul']

In [7]:
internet_access = internet_access.rename(columns={
    'Regiao': 'Região'
})
internet_access

     Ano        Região  Acesso a internet %
0   2008       Sudeste                   25
1   2008      Nordeste                    7
2   2008           Sul                   20
3   2008         Norte                    7
4   2008  Centro Oeste                   21
..   ...           ...                  ...
70  2022       Sudeste                   82
71  2022      Nordeste                   78
72  2022           Sul                   81
73  2022         Norte                   76
74  2022  Centro Oeste                   83

[75 rows x 3 columns]

In [8]:
# All expanded
file_path = "../transformed_data/acess_to_internet.csv"
internet_access.to_csv(file_path, index=False)