# Matrículas

In [1]:
import pandas as pd

In [7]:
# Convert the corrected string to a DataFrame
df = pd.read_csv("../raw_data/teachers/docentes_2007.csv")
df

,Região Geográfica,Unidade da Federação,Município,Código do Município,Urbana,Rural
0,Centro-Oeste,Distrito Federal,Brasília,5300108,"2,749",99
1,Centro-Oeste,Goiás,Vila Propício,5222302,11,9
2,Centro-Oeste,Goiás,Vila Boa,5222203,17,-
3,Centro-Oeste,Goiás,Vicentinópolis,5222054,17,-
4,Centro-Oeste,Goiás,Vianópolis,5222005,18,-
...,...,...,...,...,...,...
5560,Norte,Rondônia,Cerejeiras,1100056,29,-
5561,Norte,Rondônia,Cacoal,1100049,169,-
5562,Norte,Rondônia,Cabixi,1100031,20,-
5563,Norte,Rondônia,Ariquemes,1100023,121,-
5564,Norte,Rondônia,Alta Floresta D'Oeste,1100015,72,-

In [8]:
# Melt the dataframe
melted_df = df.melt(id_vars=["Região Geográfica", "Unidade da Federação", "Município", "Código do Município"],
                                        value_vars=["Urbana", "Rural"],
                                        var_name="Rede",
                                        value_name="Docentes")

# Sort the dataframe for better visualization
melted_df = melted_df.sort_values(by=["Município", "Rede"]).reset_index(drop=True)

melted_df

,Região Geográfica,Unidade da Federação,Município,Código do Município,Rede,Docentes
0,Centro-Oeste,Goiás,Abadia de Goiás,5200050,Rural,-
1,Centro-Oeste,Goiás,Abadia de Goiás,5200050,Urbana,20
2,Sudeste,Minas Gerais,Abadia dos Dourados,3100104,Rural,-
3,Sudeste,Minas Gerais,Abadia dos Dourados,3100104,Urbana,19
4,Centro-Oeste,Goiás,Abadiânia,5200100,Rural,-
...,...,...,...,...,...,...
11125,Nordeste,Bahia,Érico Cardoso,2900504,Urbana,17
11126,Norte,Pará,Óbidos,1505106,Rural,-
11127,Norte,Pará,Óbidos,1505106,Urbana,49
11128,Sudeste,São Paulo,Óleo,3533809,Rural,-
11129,Sudeste,São Paulo,Óleo,3533809,Urbana,16

In [12]:
df = pd.read_csv("../raw_data/teachers/docentes_2021.csv", sep=";")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Região Geográfica,Unidade da Federação,Município,Código do Município,Urbana,Rural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Norte,Rondônia,Alta Floresta D'Oeste,1100015,70,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN