In [51]:
import pandas as pd

In [70]:
df1 = pd.read_csv('../transformed_data/updated_desnutricao2.csv', sep=';')

In [71]:
df1.head(10)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,"5,32%"
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,"8,14%"
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,"4,01%"
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,"0,97%"
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,"1,23%"
5,2008,CENTRO-OESTE,52,GO,5200175,AGUA FRIA DE GOIAS,"4,23%"
6,2008,CENTRO-OESTE,52,GO,5200209,AGUA LIMPA,"3,81%"
7,2008,CENTRO-OESTE,52,GO,5200258,AGUAS LINDAS DE GOIAS,"8,33%"
8,2008,CENTRO-OESTE,52,GO,5200308,ALEXANIA,"5,74%"
9,2008,CENTRO-OESTE,52,GO,5200506,ALOANDIA,"3,85%"

In [72]:
df2 = pd.read_csv('../transformed_data/acess_to_internet.csv', sep=';')

In [73]:
df2.head(10)

    Ano        Regiao  Acesso a internet %
0  2008       SUDESTE                   25
1  2008      NORDESTE                    7
2  2008           SUL                   20
3  2008         NORTE                    7
4  2008  CENTRO-OESTE                   21
5  2009       SUDESTE                   33
6  2009      NORDESTE                   10
7  2009           SUL                   29
8  2009         NORTE                   10
9  2009  CENTRO-OESTE                   25

In [74]:
resultado1 = pd.merge(df1, df2, on=['Ano', 'Regiao'])

Empty DataFrame
Columns: [Ano, Regiao, C贸digo UF, UF, C贸digo_IBGE, Municipio, Magreza %, Acesso a internet %]
Index: []

In [75]:
print(resultado1)

        Ano        Regiao  C贸digo UF  UF  C贸digo_IBGE        Municipio  \
0      2008  CENTRO-OESTE         53  DF      5300108         BRASILIA
1      2008  CENTRO-OESTE         52  GO      5200050  ABADIA DE GOIAS
2      2008  CENTRO-OESTE         52  GO      5200100        ABADIANIA
3      2008  CENTRO-OESTE         52  GO      5200134          ACREUNA
4      2008  CENTRO-OESTE         52  GO      5200159        ADELANDIA
...     ...           ...        ...  ..          ...              ...
83545  2022           SUL         42  SC      4219408        WITMARSUM
83546  2022           SUL         42  SC      4219507          XANXERE
83547  2022           SUL         42  SC      4219606        XAVANTINA
83548  2022           SUL         42  SC      4219705            XAXIM
83549  2022           SUL         42  SC      4219853           ZORTEA

      Magreza %  Acesso a internet %
0         5,32%                   21
1         8,14%                   21
2         4,01%                   21
3         0,97%                   21
4         1,23%                   21
...         ...                  ...
83545     2,69%                   81
83546     1,82%                   81
83547     3,14%                   81
83548     2,59%                   81
83549     5,81%                   81

[83550 rows x 8 columns]

In [81]:
resultado1.head(10)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,"5,32%",21
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,"8,14%",21
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,"4,01%",21
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,"0,97%",21
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,"1,23%",21
5,2008,CENTRO-OESTE,52,GO,5200175,AGUA FRIA DE GOIAS,"4,23%",21
6,2008,CENTRO-OESTE,52,GO,5200209,AGUA LIMPA,"3,81%",21
7,2008,CENTRO-OESTE,52,GO,5200258,AGUAS LINDAS DE GOIAS,"8,33%",21
8,2008,CENTRO-OESTE,52,GO,5200308,ALEXANIA,"5,74%",21
9,2008,CENTRO-OESTE,52,GO,5200506,ALOANDIA,"3,85%",21

In [82]:
df3 = pd.read_csv('../transformed_data/unemployement_data.csv')

In [88]:
df3['C贸digo UF'] = df3['C贸digo_UF']

In [96]:
df3 = df3.drop('C贸digo_UF', axis=1)

In [104]:
df3.head(10)

   UF Estado   Ano Unemployed  C贸digo UF Regiao
0  AC   Acre  2012        8,4         12  NORTE
1  AC   Acre  2013      8,975         12  NORTE
2  AC   Acre  2014        7,7         12  NORTE
3  AC   Acre  2015      8,475         12  NORTE
4  AC   Acre  2016     10,875         12  NORTE
5  AC   Acre  2017     14,125         12  NORTE
6  AC   Acre  2018     13,525         12  NORTE
7  AC   Acre  2019       14,5         12  NORTE
8  AC   Acre  2020     15,075         12  NORTE
9  AC   Acre  2021     15,325         12  NORTE

In [99]:
df3['Regiao'] = df3['Regi茫o']

In [122]:
df3 = df3.drop(['Regiao', 'UF', 'Estado'], axis=1)

In [125]:
resultado2 = resultado1.merge(df3, on=["Ano", "C贸digo UF"], how="outer")

In [126]:
resultado2.head(20)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %,Unemployed
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,"5,32%",21,NaN
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,"8,14%",21,NaN
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,"4,01%",21,NaN
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,"0,97%",21,NaN
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,"1,23%",21,NaN
5,2008,CENTRO-OESTE,52,GO,5200175,AGUA FRIA DE GOIAS,"4,23%",21,NaN
6,2008,CENTRO-OESTE,52,GO,5200209,AGUA LIMPA,"3,81%",21,NaN
7,2008,CENTRO-OESTE,52,GO,5200258,AGUAS LINDAS DE GOIAS,"8,33%",21,NaN
8,2008,CENTRO-OESTE,52,GO,5200308,ALEXANIA,"5,74%",21,NaN
9,2008,CENTRO-OESTE,52,GO,5200506,ALOANDIA,"3,85%",21,NaN
10,2008,CENTRO-OESTE,52,GO,5200555,ALTO HORIZONTE,"3,85%",21,NaN
11,2008,CENTRO-OESTE,52,GO,5200605,ALTO PARAISO DE GOIAS,"3,50%",21,NaN
12,2008,CENTRO-OESTE,52,GO,5200803,ALVORADA DO NORTE,"7,87%",21,NaN
13,2008,CENTRO-OESTE,52,GO,5200829,AMARALINA,"0,00%",21,NaN
14,2008,CENTRO-OESTE,52,GO,5200852,AMERICANO DO BRASIL,"0,00%",21,NaN
15,2008,CENTRO-OESTE,52,GO,5200902,AMORINOPOLIS,"2,11%",21,NaN
16,2008,CENTRO-OESTE,52,GO,5201108,ANAPOLIS,"6,76%",21,NaN
17,2008,CENTRO-OESTE,52,GO,5201207,ANHANGUERA,"18,42%",21,NaN
18,2008,CENTRO-OESTE,52,GO,5201306,ANICUNS,"6,02%",21,NaN
19,2008,CENTRO-OESTE,52,GO,5201405,APARECIDA DE GOIANIA,"0,00%",21,NaN

In [127]:
df4 = pd.read_csv('../transformed_data/poverty_data.csv')

In [128]:
df4.head(10)

  Estado  C贸digo_UF  UF   Ano  Poverty_Rate
0   Acre         12  AC  2012         47.72
1   Acre         12  AC  2013         45.34
2   Acre         12  AC  2014         44.62
3   Acre         12  AC  2015         44.95
4   Acre         12  AC  2016         49.05
5   Acre         12  AC  2017         48.24
6   Acre         12  AC  2018         42.83
7   Acre         12  AC  2019         44.66
8   Acre         12  AC  2020         40.09
9   Acre         12  AC  2021         46.91

In [129]:
df4 = df4.drop(['UF', 'Estado'], axis=1)

In [130]:
df4 = df4.rename(columns={
    "C贸digo_UF": "C贸digo UF"})

In [131]:
df4.head(10)

   C贸digo UF   Ano  Poverty_Rate
0         12  2012         47.72
1         12  2013         45.34
2         12  2014         44.62
3         12  2015         44.95
4         12  2016         49.05
5         12  2017         48.24
6         12  2018         42.83
7         12  2019         44.66
8         12  2020         40.09
9         12  2021         46.91

In [132]:
resultado3 = resultado2.merge(df4, on=["Ano", "C贸digo UF"], how="outer")

In [133]:
resultado3.head(20)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %,Unemployed,Poverty_Rate
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,"5,32%",21,NaN,NaN
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,"8,14%",21,NaN,NaN
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,"4,01%",21,NaN,NaN
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,"0,97%",21,NaN,NaN
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,"1,23%",21,NaN,NaN
5,2008,CENTRO-OESTE,52,GO,5200175,AGUA FRIA DE GOIAS,"4,23%",21,NaN,NaN
6,2008,CENTRO-OESTE,52,GO,5200209,AGUA LIMPA,"3,81%",21,NaN,NaN
7,2008,CENTRO-OESTE,52,GO,5200258,AGUAS LINDAS DE GOIAS,"8,33%",21,NaN,NaN
8,2008,CENTRO-OESTE,52,GO,5200308,ALEXANIA,"5,74%",21,NaN,NaN
9,2008,CENTRO-OESTE,52,GO,5200506,ALOANDIA,"3,85%",21,NaN,NaN
10,2008,CENTRO-OESTE,52,GO,5200555,ALTO HORIZONTE,"3,85%",21,NaN,NaN
11,2008,CENTRO-OESTE,52,GO,5200605,ALTO PARAISO DE GOIAS,"3,50%",21,NaN,NaN
12,2008,CENTRO-OESTE,52,GO,5200803,ALVORADA DO NORTE,"7,87%",21,NaN,NaN
13,2008,CENTRO-OESTE,52,GO,5200829,AMARALINA,"0,00%",21,NaN,NaN
14,2008,CENTRO-OESTE,52,GO,5200852,AMERICANO DO BRASIL,"0,00%",21,NaN,NaN
15,2008,CENTRO-OESTE,52,GO,5200902,AMORINOPOLIS,"2,11%",21,NaN,NaN
16,2008,CENTRO-OESTE,52,GO,5201108,ANAPOLIS,"6,76%",21,NaN,NaN
17,2008,CENTRO-OESTE,52,GO,5201207,ANHANGUERA,"18,42%",21,NaN,NaN
18,2008,CENTRO-OESTE,52,GO,5201306,ANICUNS,"6,02%",21,NaN,NaN
19,2008,CENTRO-OESTE,52,GO,5201405,APARECIDA DE GOIANIA,"0,00%",21,NaN,NaN

In [134]:
df5 = pd.read_csv('../transformed_data/gdp_per_capita_data.csv')

In [135]:
df5.head(20)

   Estado  Codigo UF  UF Regi茫o   Ano          PIB
0    Acre         12  AC  Norte  2000   3864.01000
1    Acre         12  AC  Norte  2001   4309.39000
2    Acre         12  AC  Norte  2002   4887.09000
3    Acre         12  AC  Norte  2003   5502.38000
4    Acre         12  AC  Norte  2004   6415.31000
5    Acre         12  AC  Norte  2005   6693.55000
6    Acre         12  AC  Norte  2006   7040.88000
7    Acre         12  AC  Norte  2007   8188.96000
8    Acre         12  AC  Norte  2008   9896.16000
9    Acre         12  AC  Norte  2009  10686.87000
10   Acre         12  AC  Norte  2010  11384.32753
11   Acre         12  AC  Norte  2011  11990.35587
12   Acre         12  AC  Norte  2012  13360.71660
13   Acre         12  AC  Norte  2013  14777.17569
14   Acre         12  AC  Norte  2014  17034.14833
15   Acre         12  AC  Norte  2015  16954.05276
16   Acre         12  AC  Norte  2016  16841.50719
17   Acre         12  AC  Norte  2017  17204.21132
18   Acre         12  AC  Norte  2018  17636.88011
19   Acre         12  AC  Norte  2019  17722.41372

In [136]:
df5 = df5.drop(['UF', 'Estado', 'Regi茫o'], axis=1)

In [137]:
df5 = df5.rename(columns={
    "Codigo UF": "C贸digo UF"})

In [138]:
resultado4 = resultado3.merge(df5, on=["Ano", "C贸digo UF"], how="outer")

In [139]:
resultado4.head(20)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %,Unemployed,Poverty_Rate,PIB
0,2008,CENTRO-OESTE,53,DF,5300108.0,BRASILIA,"5,32%",21.0,NaN,NaN,45977.56
1,2008,CENTRO-OESTE,52,GO,5200050.0,ABADIA DE GOIAS,"8,14%",21.0,NaN,NaN,12877.88
2,2008,CENTRO-OESTE,52,GO,5200100.0,ABADIANIA,"4,01%",21.0,NaN,NaN,12877.88
3,2008,CENTRO-OESTE,52,GO,5200134.0,ACREUNA,"0,97%",21.0,NaN,NaN,12877.88
4,2008,CENTRO-OESTE,52,GO,5200159.0,ADELANDIA,"1,23%",21.0,NaN,NaN,12877.88
5,2008,CENTRO-OESTE,52,GO,5200175.0,AGUA FRIA DE GOIAS,"4,23%",21.0,NaN,NaN,12877.88
6,2008,CENTRO-OESTE,52,GO,5200209.0,AGUA LIMPA,"3,81%",21.0,NaN,NaN,12877.88
7,2008,CENTRO-OESTE,52,GO,5200258.0,AGUAS LINDAS DE GOIAS,"8,33%",21.0,NaN,NaN,12877.88
8,2008,CENTRO-OESTE,52,GO,5200308.0,ALEXANIA,"5,74%",21.0,NaN,NaN,12877.88
9,2008,CENTRO-OESTE,52,GO,5200506.0,ALOANDIA,"3,85%",21.0,NaN,NaN,12877.88
10,2008,CENTRO-OESTE,52,GO,5200555.0,ALTO HORIZONTE,"3,85%",21.0,NaN,NaN,12877.88
11,2008,CENTRO-OESTE,52,GO,5200605.0,ALTO PARAISO DE GOIAS,"3,50%",21.0,NaN,NaN,12877.88
12,2008,CENTRO-OESTE,52,GO,5200803.0,ALVORADA DO NORTE,"7,87%",21.0,NaN,NaN,12877.88
13,2008,CENTRO-OESTE,52,GO,5200829.0,AMARALINA,"0,00%",21.0,NaN,NaN,12877.88
14,2008,CENTRO-OESTE,52,GO,5200852.0,AMERICANO DO BRASIL,"0,00%",21.0,NaN,NaN,12877.88
15,2008,CENTRO-OESTE,52,GO,5200902.0,AMORINOPOLIS,"2,11%",21.0,NaN,NaN,12877.88
16,2008,CENTRO-OESTE,52,GO,5201108.0,ANAPOLIS,"6,76%",21.0,NaN,NaN,12877.88
17,2008,CENTRO-OESTE,52,GO,5201207.0,ANHANGUERA,"18,42%",21.0,NaN,NaN,12877.88
18,2008,CENTRO-OESTE,52,GO,5201306.0,ANICUNS,"6,02%",21.0,NaN,NaN,12877.88
19,2008,CENTRO-OESTE,52,GO,5201405.0,APARECIDA DE GOIANIA,"0,00%",21.0,NaN,NaN,12877.88

In [140]:
df6 = pd.read_csv('../transformed_data/funding_and_population.csv')

In [141]:
df6.head(30)

    C贸digo_IBGE            Munic铆pio  UF   Ano Population  Valor_Consolidado
0       5200050      Abadia de Goi谩s  GO  2008       6182         1755502.19
1       5200050      Abadia de Goi谩s  GO  2009       6301         1880883.04
2       5200050      Abadia de Goi谩s  GO  2010       6662         2324131.10
3       5200050      Abadia de Goi谩s  GO  2011       7023         2850424.86
4       5200050      Abadia de Goi谩s  GO  2012       7164         3758558.91
5       5200050      Abadia de Goi谩s  GO  2013       7567         4356758.35
6       5200050      Abadia de Goi谩s  GO  2014       7733         5104522.22
7       5200050      Abadia de Goi谩s  GO  2015       7895         5715251.09
8       5200050      Abadia de Goi谩s  GO  2016       8053         6519049.28
9       5200050      Abadia de Goi谩s  GO  2017       8207         7382913.42
10      5200050      Abadia de Goi谩s  GO  2018       8583         7983245.36
11      5200050      Abadia de Goi谩s  GO  2019       8773         9456763.25
12      5200050      Abadia de Goi谩s  GO  2020       8958        11342540.05
13      5200050      Abadia de Goi谩s  GO  2021       9158        15049991.07
14      5200050      Abadia de Goi谩s  GO  2022      19128        17311317.47
15      3100104  Abadia dos Dourados  MG  2008       6777          882164.38
16      3100104  Abadia dos Dourados  MG  2009       6805          979393.24
17      3100104  Abadia dos Dourados  MG  2010       6764         1100970.31
18      3100104  Abadia dos Dourados  MG  2011       6724         1196298.96
19      3100104  Abadia dos Dourados  MG  2012       6743         1279295.06
20      3100104  Abadia dos Dourados  MG  2013       6967         1360948.04
21      3100104  Abadia dos Dourados  MG  2014       6992         1599916.00
22      3100104  Abadia dos Dourados  MG  2015       7015         1607693.00
23      3100104  Abadia dos Dourados  MG  2016       7037         1872685.47
24      3100104  Abadia dos Dourados  MG  2017       7059         1879877.28
25      3100104  Abadia dos Dourados  MG  2018       6972         1367159.67
26      3100104  Abadia dos Dourados  MG  2019       6989         1973482.75
27      3100104  Abadia dos Dourados  MG  2020       7006         2263398.59
28      3100104  Abadia dos Dourados  MG  2021       7022         2852449.12
29      3100104  Abadia dos Dourados  MG  2022       6272         2995730.26

In [142]:
df6 = df6.drop(['UF', 'Munic铆pio'], axis=1)

In [143]:
resultado5 = resultado4.merge(df6, on=["Ano", "C贸digo_IBGE"], how="outer")

In [155]:
resultado5.head(50)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %,Unemployed,Poverty_Rate,PIB,Population,Valor_Consolidado
0,2008,CENTRO-OESTE,53.0,DF,5300108.0,BRASILIA,"5,32%",21.0,NaN,NaN,45977.56,2557159,NaN
1,2008,CENTRO-OESTE,52.0,GO,5200050.0,ABADIA DE GOIAS,"8,14%",21.0,NaN,NaN,12877.88,6182,1755502.19
2,2008,CENTRO-OESTE,52.0,GO,5200100.0,ABADIANIA,"4,01%",21.0,NaN,NaN,12877.88,13209,1840409.49
3,2008,CENTRO-OESTE,52.0,GO,5200134.0,ACREUNA,"0,97%",21.0,NaN,NaN,12877.88,19173,3225020.65
4,2008,CENTRO-OESTE,52.0,GO,5200159.0,ADELANDIA,"1,23%",21.0,NaN,NaN,12877.88,2596,231642.93
5,2008,CENTRO-OESTE,52.0,GO,5200175.0,AGUA FRIA DE GOIAS,"4,23%",21.0,NaN,NaN,12877.88,5243,1177257.13
6,2008,CENTRO-OESTE,52.0,GO,5200209.0,AGUA LIMPA,"3,81%",21.0,NaN,NaN,12877.88,2121,267358.53
7,2008,CENTRO-OESTE,52.0,GO,5200258.0,AGUAS LINDAS DE GOIAS,"8,33%",21.0,NaN,NaN,12877.88,139804,24997763.93
8,2008,CENTRO-OESTE,52.0,GO,5200308.0,ALEXANIA,"5,74%",21.0,NaN,NaN,12877.88,20661,5063279.12
9,2008,CENTRO-OESTE,52.0,GO,5200506.0,ALOANDIA,"3,85%",21.0,NaN,NaN,12877.88,2121,33925.58
10,2008,CENTRO-OESTE,52.0,GO,5200555.0,ALTO HORIZONTE,"3,85%",21.0,NaN,NaN,12877.88,3318,547477.71
11,2008,CENTRO-OESTE,52.0,GO,5200605.0,ALTO PARAISO DE GOIAS,"3,50%",21.0,NaN,NaN,12877.88,6913,1409799.62
12,2008,CENTRO-OESTE,52.0,GO,5200803.0,ALVORADA DO NORTE,"7,87%",21.0,NaN,NaN,12877.88,8570,1828498.76
13,2008,CENTRO-OESTE,52.0,GO,5200829.0,AMARALINA,"0,00%",21.0,NaN,NaN,12877.88,3662,855563.89
14,2008,CENTRO-OESTE,52.0,GO,5200852.0,AMERICANO DO BRASIL,"0,00%",21.0,NaN,NaN,12877.88,4811,684467.59
15,2008,CENTRO-OESTE,52.0,GO,5200902.0,AMORINOPOLIS,"2,11%",21.0,NaN,NaN,12877.88,3549,247178.00
16,2008,CENTRO-OESTE,52.0,GO,5201108.0,ANAPOLIS,"6,76%",21.0,NaN,NaN,12877.88,331329,44536698.51
17,2008,CENTRO-OESTE,52.0,GO,5201207.0,ANHANGUERA,"18,42%",21.0,NaN,NaN,12877.88,1007,155764.99
18,2008,CENTRO-OESTE,52.0,GO,5201306.0,ANICUNS,"6,02%",21.0,NaN,NaN,12877.88,18110,2701634.63
19,2008,CENTRO-OESTE,52.0,GO,5201405.0,APARECIDA DE GOIANIA,"0,00%",21.0,NaN,NaN,12877.88,494919,41484214.44
20,2008,CENTRO-OESTE,52.0,GO,5201454.0,APARECIDA DO RIO DOCE,"1,64%",21.0,NaN,NaN,12877.88,2830,1158809.39
21,2008,CENTRO-OESTE,52.0,GO,5201504.0,APORE,"3,57%",21.0,NaN,NaN,12877.88,3684,666831.86
22,2008,CENTRO-OESTE,52.0,GO,5201603.0,ARACU,"3,87%",21.0,NaN,NaN,12877.88,3966,407306.26
23,2008,CENTRO-OESTE,52.0,GO,5201702.0,ARAGARCAS,"0,00%",21.0,NaN,NaN,12877.88,17777,3021028.53
24,2008,CENTRO-OESTE,52.0,GO,5201801.0,ARAGOIANIA,"1,89%",21.0,NaN,NaN,12877.88,7589,1372858.14
25,2008,CENTRO-OESTE,52.0,GO,5202155.0,ARAGUAPAZ,"7,69%",21.0,NaN,NaN,12877.88,7742,709318.26
26,2008,CENTRO-OESTE,52.0,GO,5202353.0,ARENOPOLIS,"2,86%",21.0,NaN,NaN,12877.88,3532,544908.87
27,2008,CENTRO-OESTE,52.0,GO,5202502.0,ARUANA,"14,29%",21.0,NaN,NaN,12877.88,6879,1149671.48
28,2008,CENTRO-OESTE,52.0,GO,5202601.0,AURILANDIA,"13,40%",21.0,NaN,NaN,12877.88,3761,314072.63
29,2008,CENTRO-OESTE,52.0,GO,5202809.0,AVELINOPOLIS,"3,49%",21.0,NaN,NaN,12877.88,2431,455715.29
30,2008,CENTRO-OESTE,52.0,GO,5203104.0,BALIZA,"0,00%",21.0,NaN,NaN,12877.88,3551,817688.87
31,2008,CENTRO-OESTE,52.0,GO,2903235.0,BARRO ALTO,"3,03%",21.0,NaN,NaN,12877.88,13990,4011261.59
32,2008,NORDESTE,29.0,BA,2903235.0,BARRO ALTO,"5,79%",7.0,NaN,NaN,8378.31,13990,4011261.59
33,2008,CENTRO-OESTE,52.0,GO,5203302.0,BELA VISTA DE GOIAS,"3,10%",21.0,NaN,NaN,12877.88,21466,2263712.52
34,2008,CENTRO-OESTE,52.0,GO,5203401.0,BOM JARDIM DE GOIAS,"4,21%",21.0,NaN,NaN,12877.88,8679,555048.71
35,2008,CENTRO-OESTE,52.0,GO,5203500.0,BOM JESUS DE GOIAS,"32,31%",21.0,NaN,NaN,12877.88,20668,4259252.56
36,2008,CENTRO-OESTE,52.0,GO,5203559.0,BONFINOPOLIS,"5,06%",21.0,NaN,NaN,12877.88,7157,1327002.98
37,2008,CENTRO-OESTE,52.0,GO,5203575.0,BONOPOLIS,"8,57%",21.0,NaN,NaN,12877.88,3340,711109.64
38,2008,CENTRO-OESTE,52.0,GO,5203609.0,BRAZABRANTES,"9,09%",21.0,NaN,NaN,12877.88,3294,375821.39
39,2008,CENTRO-OESTE,52.0,GO,5203807.0,BRITANIA,"3,17%",21.0,NaN,NaN,12877.88,5203,573780.68
40,2008,CENTRO-OESTE,52.0,GO,5203906.0,BURITI ALEGRE,"5,07%",21.0,NaN,NaN,12877.88,8485,348190.61
41,2008,CENTRO-OESTE,52.0,GO,5203939.0,BURITI DE GOIAS,"3,23%",21.0,NaN,NaN,12877.88,2248,387374.02
42,2008,CENTRO-OESTE,52.0,GO,5203962.0,BURITINOPOLIS,"10,24%",21.0,NaN,NaN,12877.88,3558,751695.73
43,2008,CENTRO-OESTE,52.0,GO,5204003.0,CABECEIRAS,"0,00%",21.0,NaN,NaN,12877.88,6796,824326.95
44,2008,CENTRO-OESTE,52.0,GO,5204102.0,CACHOEIRA ALTA,"1,96%",21.0,NaN,NaN,12877.88,8280,1109604.90
45,2008,CENTRO-OESTE,52.0,GO,5204201.0,CACHOEIRA DE GOIAS,"2,22%",21.0,NaN,NaN,12877.88,1441,52603.20
46,2008,CENTRO-OESTE,52.0,GO,3109808.0,CACHOEIRA DOURADA,"4,85%",21.0,NaN,NaN,12877.88,2570,811912.22
47,2008,SUDESTE,31.0,MG,3109808.0,CACHOEIRA DOURADA,"4,88%",25.0,NaN,NaN,14232.73,2570,811912.22
48,2008,CENTRO-OESTE,52.0,GO,5204300.0,CACU,"2,47%",21.0,NaN,NaN,12877.88,11281,2174808.82
49,2008,CENTRO-OESTE,52.0,GO,5204409.0,CAIAPONIA,#DIV/0!,21.0,NaN,NaN,12877.88,16397,1943362.60

In [147]:
file_path = "../transformed_data/socioeconomic_data.csv"
resultado5.to_csv(file_path, index=False)

In [164]:
df7 = pd.read_csv('../raw_data/PIB/PIB dos Municipios_2010-2020.csv', sep=';')

In [166]:
df7.head(10)

,Ano,Regiao,C贸digo UF,UF,Estado,C贸digo_IBGE,Munic铆pio,"Produto Interno Bruto per capita, \na pre莽os correntes\n(R$ 1,00)"
0,2010,Norte,11,RO,Rond么nia,1100015,Alta Floresta D'Oeste,"10.731,18"
1,2010,Norte,11,RO,Rond么nia,1100023,Ariquemes,"15.103,86"
2,2010,Norte,11,RO,Rond么nia,1100031,Cabixi,"11.033,62"
3,2010,Norte,11,RO,Rond么nia,1100049,Cacoal,"15.095,15"
4,2010,Norte,11,RO,Rond么nia,1100056,Cerejeiras,"13.037,06"
5,2010,Norte,11,RO,Rond么nia,1100064,Colorado do Oeste,"10.380,21"
6,2010,Norte,11,RO,Rond么nia,1100072,Corumbiara,"13.038,89"
7,2010,Norte,11,RO,Rond么nia,1100080,Costa Marques,"7.852,78"
8,2010,Norte,11,RO,Rond么nia,1100098,Espig茫o D'Oeste,"10.848,19"
9,2010,Norte,11,RO,Rond么nia,1100106,Guajar谩-Mirim,"14.363,13"

In [172]:
df7 = df7.drop(['UF', 'Estado', 'Regiao', 'Munic铆pio', 'C贸digo UF'], axis=1)

In [173]:
df7 = df7.rename(columns={
    "Produto Interno Bruto per capita, \na pre莽os correntes\n(R$ 1,00)" : "Pib per capita"})

In [174]:
df7.head(10)

    Ano  C贸digo_IBGE Pib per capita
0  2010      1100015     10.731,18
1  2010      1100023     15.103,86
2  2010      1100031     11.033,62
3  2010      1100049     15.095,15
4  2010      1100056     13.037,06
5  2010      1100064     10.380,21
6  2010      1100072     13.038,89
7  2010      1100080      7.852,78
8  2010      1100098     10.848,19
9  2010      1100106     14.363,13

In [175]:
resultado_final = resultado5.merge(df7, on=["Ano", "C贸digo_IBGE"], how="outer")

In [176]:
resultado_final.head(10)

,Ano,Regiao,C贸digo UF,UF,C贸digo_IBGE,Municipio,Magreza %,Acesso a internet %,Unemployed,Poverty_Rate,PIB,Population,Valor_Consolidado,Pib per capita
0,2008,CENTRO-OESTE,53.0,DF,5300108.0,BRASILIA,"5,32%",21.0,NaN,NaN,45977.56,2557159,NaN,NaN
1,2008,CENTRO-OESTE,52.0,GO,5200050.0,ABADIA DE GOIAS,"8,14%",21.0,NaN,NaN,12877.88,6182,1755502.19,NaN
2,2008,CENTRO-OESTE,52.0,GO,5200100.0,ABADIANIA,"4,01%",21.0,NaN,NaN,12877.88,13209,1840409.49,NaN
3,2008,CENTRO-OESTE,52.0,GO,5200134.0,ACREUNA,"0,97%",21.0,NaN,NaN,12877.88,19173,3225020.65,NaN
4,2008,CENTRO-OESTE,52.0,GO,5200159.0,ADELANDIA,"1,23%",21.0,NaN,NaN,12877.88,2596,231642.93,NaN
5,2008,CENTRO-OESTE,52.0,GO,5200175.0,AGUA FRIA DE GOIAS,"4,23%",21.0,NaN,NaN,12877.88,5243,1177257.13,NaN
6,2008,CENTRO-OESTE,52.0,GO,5200209.0,AGUA LIMPA,"3,81%",21.0,NaN,NaN,12877.88,2121,267358.53,NaN
7,2008,CENTRO-OESTE,52.0,GO,5200258.0,AGUAS LINDAS DE GOIAS,"8,33%",21.0,NaN,NaN,12877.88,139804,24997763.93,NaN
8,2008,CENTRO-OESTE,52.0,GO,5200308.0,ALEXANIA,"5,74%",21.0,NaN,NaN,12877.88,20661,5063279.12,NaN
9,2008,CENTRO-OESTE,52.0,GO,5200506.0,ALOANDIA,"3,85%",21.0,NaN,NaN,12877.88,2121,33925.58,NaN

In [177]:
file_path = '../transformed_data/socioeconomicdata_updated.csv'
resultado_final.to_csv(file_path, index=False)