In [1]:
import pandas as pd

To Do
- I think IGBE should be deleted
- pivot years from columns to rows

In [3]:
unemployement_df = pd.read_csv("../transformed_data/desocupacao_updated.csv", sep=";")

In [4]:
unemployement_df.head()

,UF,Código_UF,Estado,Código_IBGE,Região,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AC,12,Acre,1200013,Norte,"8,4","8,975","7,7","8,475","10,875","14,125","13,525","14,5","15,075","15,325","11,7"
1,AL,27,Alagoas,2700102,Nordeste,"11,35","10,6","9,625","11,2","14,075","16,675",17,"14,9","18,575","17,75","11,175"
2,AM,13,Amazonas,1300029,Norte,"9,5","9,075","7,725","9,525","13,575","15,675","13,9",14,"15,775","14,975","10,7"
3,AP,16,Amapá,1600055,Norte,"13,225","11,45","10,325","11,025","15,45","17,725","20,175","17,35","14,9","16,625","12,425"
4,BA,29,Bahia,2900108,Nordeste,"11,05","11,15","10,25","12,25","15,85","16,95",17,"17,2","19,825","19,475","15,425"

In [8]:
unemployement_df = unemployement_df.drop(columns="Código_IBGE")

In [9]:
unemployement_df

,UF,Código_UF,Estado,Região,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AC,12,Acre,Norte,"8,4","8,975","7,7","8,475","10,875","14,125","13,525","14,5","15,075","15,325","11,7"
1,AL,27,Alagoas,Nordeste,"11,35","10,6","9,625","11,2","14,075","16,675",17,"14,9","18,575","17,75","11,175"
2,AM,13,Amazonas,Norte,"9,5","9,075","7,725","9,525","13,575","15,675","13,9",14,"15,775","14,975","10,7"
3,AP,16,Amapá,Norte,"13,225","11,45","10,325","11,025","15,45","17,725","20,175","17,35","14,9","16,625","12,425"
4,BA,29,Bahia,Nordeste,"11,05","11,15","10,25","12,25","15,85","16,95",17,"17,2","19,825","19,475","15,425"
5,CE,23,Ceará,Nordeste,"7,7","7,825","7,35","8,825","11,95","12,575","11,3","10,925","13,175","13,425","9,45"
6,DF,53,Distrito Federal,Centro Oeste,"8,625","9,025","8,95","10,1",12,"13,175","12,725","13,375","14,75","13,95","11,325"
7,ES,32,Espírito Santo,Sudeste,"7,125","7,125","6,175","7,7","12,225","13,125","11,475","10,975","12,675","11,125","7,925"
8,GO,52,Goiás,Centro Oeste,"5,375","5,425","5,3","7,3","10,475","10,575","9,225","10,6","12,425","11,25","7,1"
9,MA,21,Maranhão,Nordeste,"8,05","7,85","6,825","8,575","11,85","14,325","14,4","14,275","15,85","15,825","10,425"
10,MG,31,Minas Gerais,Sudeste,"6,875","6,6","6,725","8,475","11,075","12,2","10,7","10,05","12,475","11,65","7,15"
11,MS,50,Mato Grosso do Sul,Centro Oeste,"6,1","4,675","4,1","6,125","7,675","8,475","7,55","7,95","9,95","8,6","5,025"
12,MT,51,Mato Grosso,Centro Oeste,"5,5","4,425",4,"6,05","9,35","8,95","7,85","7,95","9,725","7,95","4,25"
13,PA,15,Pará,Norte,"7,375","7,25","7,2","8,8","11,15","11,75","11,125","10,775","10,35","12,575","9,575"
14,PB,25,Paraíba,Nordeste,"9,175","8,8","8,85","9,5","11,35","11,375","11,075","11,575","14,625","14,775","11,925"
15,PE,26,Pernambuco,Nordeste,"9,075","8,975","8,15","9,875","14,55","17,65","16,7","15,475","16,825","19,9","14,2"
16,PI,22,Piauí,Nordeste,"6,9","7,525","6,525","7,55","9,425","12,85","12,775","12,8","12,8","13,55","10,1"
17,PR,41,Paraná,Sul,"4,95","4,325",4,"5,85","8,225",9,"8,775","8,525","9,375","8,35","5,825"
18,RJ,33,Rio de Janeiro,Sudeste,"7,525","6,775","6,25","7,6","11,725","14,925","14,95","14,65","17,35","16,9","12,8"
19,RN,24,Rio Grande do Norte,Nordeste,"11,4","10,675","11,025","11,975","14,15","14,475","13,55","13,075","15,8","14,8","11,625"
20,RO,11,Rondônia,Norte,"6,35","5,075","4,175","5,575","7,925","8,225","9,05","7,95","10,425","8,95","4,925"
21,RR,14,Roraima,Norte,"7,55",8,"6,325","8,525","8,8","9,85","12,25","14,925","16,4","12,05","6,125"
22,RS,43,Rio Grande do Sul,Sul,"4,8","4,8",5,"6,2","8,175","8,4","8,1","8,025","9,1","8,725","6,1"
23,SC,42,Santa Catarina,Sul,"3,425","3,075","2,875","4,1","6,325","7,1","6,4","6,075","6,125","5,45","3,85"
24,SE,28,Sergipe,Nordeste,"10,25","10,3","9,225","9,05","13,25","14,3","16,6","15,075","18,4","17,875","12,9"
25,SP,35,São Paulo,Sudeste,"7,25","7,225","7,125","9,3","12,35","13,4","13,275","12,45","13,875","13,425","9,075"
26,TO,17,Tocantins,Norte,"7,725","7,525","7,5","8,625","11,45","11,65","10,625","10,825","11,625","13,325","6,4"

In [10]:
# Generating the list of years using list comprehension
years = [str(year) for year in range(2012, 2023)]

# Melting the DataFrame
melted_df = pd.melt(unemployement_df, id_vars=["UF", "Código_UF","Estado","Região"], value_vars=years, var_name='Ano', value_name='Unemployed')


# Sorting the DataFrame
melted_df = melted_df.sort_values(by=["UF", "Código_UF","Estado","Região","Ano"]).reset_index(drop=True)

melted_df

     UF  Código_UF     Estado Região   Ano Unemployed
0    AC         12       Acre  Norte  2012        8,4
1    AC         12       Acre  Norte  2013      8,975
2    AC         12       Acre  Norte  2014        7,7
3    AC         12       Acre  Norte  2015      8,475
4    AC         12       Acre  Norte  2016     10,875
..   ..        ...        ...    ...   ...        ...
292  TO         17  Tocantins  Norte  2018     10,625
293  TO         17  Tocantins  Norte  2019     10,825
294  TO         17  Tocantins  Norte  2020     11,625
295  TO         17  Tocantins  Norte  2021     13,325
296  TO         17  Tocantins  Norte  2022        6,4

[297 rows x 6 columns]

In [11]:
file_path = "../transformed_data/unemployement_data.csv"
melted_df.to_csv(file_path, index=False)